/* * {
    border: 1px solid white;
} */

.header {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 56px;
    margin-top: 24px;
    padding: 12px;
    text-decoration: underline;
}

.quote {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 12px;
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.selection, .result {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    padding: 12px;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    text-align: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    margin: 24px;
    border-radius: 10px;
    border: 2px solid white;
}

.buttons #rock{
    background: url(/images/Rock.jpg);
    width: 224px;
    height: 224px;
    background-position: center center;
    background-size: cover;
}
.buttons #paper{
    background: url(/images/Paper.jpg);
    width: 224px;
    height: 224px;
    background-position: center center;
    background-size: cover;
}
.buttons #scissors{
    background: url(/images/Scissors.jpg);
    width: 224px;
    height: 224px;
    background-position: center center;
    background-size: cover;
}
.buttons #lizard{
    background: url(/images/Lizard.jpg);
    width: 224px;
    height: 224px;
    background-position: center center;
    background-size: cover;
}
.buttons #spock{
    background: url(/images/Spock.jpeg);
    width: 224px;
    height: 224px;
    background-position: center center;
    background-size: cover;
}

.buttonOutline {
    display: flex;
    flex-direction: column;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    font-size: 48px;
    align-items: center;
}

.result {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.outcome {
    margin: 8px;
}